<footer class="footer bg-black text-light py-4">
    <div class="container">
      <div class="row">
        <!-- Social Media Links -->
        <div class="col-md-4 mb-3">
          <h5>Follow Us</h5>
          <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
              <i class="bi bi-facebook"></i>
            </a>
            <a href="https://www.twitter.com" target="_blank">
              <i class="bi bi-twitter"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank">
              <i class="bi bi-instagram"></i>
            </a>
            <a href="https://www.linkedin.com" target="_blank">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
  
        <!-- Company Address -->
        <div class="col-md-4 mb-3">
          <h5>Our Address</h5>
          <p>123 Food Street, Suite 100, Nalbari, Assam, INDIA</p>
          <p>456 Healthy Avenue, Tihu, INDIA</p>
        </div>
  
        <!-- Copyright Section -->
        <div class="col-md-4 mb-3">
          <h5>&copy; 2024 Pustikar Foods and Beverages</h5>
          <p>All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  