<div class="row align-items-center text-center">
    <div class="col">
      <div class="topbarElements d-inline-flex align-items-center">
        <div>&#x27A4;</div>
        <div class="text-start d-md-block d-none">
          <h5 class="p-0 m-0 text-uppercase">Office</h5>
          <p class="p-0 m-0 text-secondary">123 Broad St, Cookeville, TN</p>
        </div>
      </div>
    </div>
    <div class="col border-start border-end">
      <div class="topbarElements d-inline-flex align-items-center">
        <div>&#x270E;</div>
        <div class="text-start d-md-block d-none">
          <h5 class="p-0 m-0 text-uppercase">Email</h5>
          <p class="p-0 m-0 text-secondary">Test&#64;gmail.com</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="topbarElements d-inline-flex align-items-center">
        <div>
          &#x260F;
        </div>
        <div class="text-start d-md-block d-none">
          <h5 class="p-0 m-0 text-uppercase">Phone</h5>
          <p class="p-0 m-0 text-secondary">+91 123 123 2323</p>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-0 m-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/images/test.png" alt="DBK Logo" height="72"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto ">
          <li class="nav-item">
            <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-2" routerLink="/gallery">Gallery</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Company
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" routerLink="/blog">Blog</a>
              <li><a class="dropdown-item" routerLink="/about">About Us</a>
              <li><a class="dropdown-item" routerLink="/contact">Conatct Us</a>
            </ul>
          </li>
          <!-- <li class="nav-item flare">
            <a class="nav-link mx-2" href="#">Get A Quote <span class="ms-2">&#x2192;</span></a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>